{% extends 'FPL_tw/main.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center m-4">
        <div class="main-theme ml-4">
            {% for date, text, link in tweets %}
            <div class="task-row">
                <ul class="list-unstyled">
                    <li class="date-row">{{ date }}</li>
                    <li>{{ text }}</li>
                    <li><a href="https://twitter.com/{{ link.0 }}/status/{{ link.1 }}" target="_blank" class="tw-link">Check it on Twitter</a></li>
                </ul>
            </div>
            {% endfor %}

            <!-- PAGINATION -->
            <div class="pagination">
                {% if tweets.has_previous %}
                    <a class="btn btn-outline-info mb-2" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-2" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in tweets.paginator.page_range %}
                    {% if tweets.number == num %}
                        <a class="btn btn-info mb-2" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > tweets.number|add:'-3' and num < tweets.number|add:'3' %}
                        <a class="btn btn-outline-info mb-2" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if tweets.has_next %}
                    <a class="btn btn-outline-info mb-2" href="?page={{ tweets.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info mb-2" href="?page={{ tweets.paginator.num_pages }}">Last</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>




{% endblock %}