{% extends 'FPL_tw/main.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center m-4">
        <div class="main-theme ml-4">
            {% for date, text, link in tweets %}
            <div class="task-row">
                <ul class="list-unstyled">
                    <li class="date-row">{{ date }}</li>
                    <li>{{ text }}</li>
                    <li><a href="https://twitter.com/{{ link.0 }}/status/{{ link.1 }}" target="_blank" class="tw-link">Check it on Twitter</a></li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}